
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<style>
    .container {
        height: 100vh;
        width: 100vw;
    }

    .login__box {
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);

        border: 1px solid lightblue;
    }
</style>

<div class="container">

    <div class="login__box">
        <h2 class="login__header">
            Binus
        </h2>
        <h3 class="login__form">
            <input type="text" placeholder="Username" value="" />
            <input type="password" value="" placeholder="password" />
            <input type="submit" value="" />
        </h3>
    </div>

</div>