
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<div class="container__general">
    <div class="projects">
        <div class="projects__titlebar">
            <h2 class="header__secondary">
                Projects
            </h2>

            <div class="projects__content">
                <input type="text" value="" class="projects__search" />
                <input type="button" value="New Project" />
            </div>
            
        </div>

        <div class="projects__list">
            <div class="project__list-item">
                <span class="text__primary">
                    Binus WebAPI
                </span>

                <a href="#" class="link__primary">
                    Security
                </a>
            </div>
            <div class="project__list-item">
                <span class="text__primary">
                    Binus WebAPI
                </span>

                <a href="#" class="link__primary">
                    Security
                </a>
            </div>

            <div class="project__list-item">
                <span class="text__primary">
                    Binus WebAPI
                </span>

                <a href="#" class="link__primary">
                    Security
                </a>
            </div>
        </div>
    </div>
</div>